<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369447071917-823t8ou6p5i2qhqsek78c4esbe4lkts2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369447071917-823t8ou6p5i2qhqsek78c4esbe4lkts2</string>
	<key>API_KEY</key>
	<string>AIzaSyDcKpePwFz-Z3_pQyaWlz5Kco48d8edDxI</string>
	<key>GCM_SENDER_ID</key>
	<string>369447071917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimal</string>
	<key>PROJECT_ID</key>
	<string>flutter-t-1c64f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-t-1c64f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369447071917:ios:f1d2f829862cfcd1df9624</string>
</dict>
</plist>